.main {
	background-color: $primery_black;
	height: 100vh;
	padding: 50px;
}

.movie {
	display: flex;
  flex-direction: column;
	gap: 20px;
}

.card {
	display: flex;
	width: 100%;
	padding: 30px;
	gap: 30px;
	border-radius: 20px;
	background-color: $primery;
	color: $white;
	font-size: 18px;
	&__text {
		&-title {
			font-weight: 700;
			font-size: 30px;
		}
	}
	img {
		border-radius: 20px;
	}
}
