@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './Variables.scss';
@import './Normalize.scss';
@import './Header.scss';
@import './Main.scss';

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.container {
	margin: 0 auto;
	max-width: 1440px;
	padding: 20px;
}
